@use 'variables' as *;

.question {
  background: #fefefe;
  border-radius: 0.5rem;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
  padding: 1.5rem;

  & + .question {
    margin-top: 0.5rem;
  }

  p {
    color: $colorPrimary;
  }

  footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;

    .user-info {
      align-items: center;
      display: flex;

      img {
        border-radius: 50%;
        height: 2rem;
        width: 2rem;
      }

      span {
        color: #737380;
        font-size: 14px;
        margin-left: 0.5rem;
      }
    }

    button {
      background: transparent;
      border: 0;
      cursor: pointer;
      transition: filter 0.2s;

      &.like-button {
        align-items: flex-end;
        color: #737380;
        display: flex;
        gap: 0.5rem;

        &.liked {
          color: $colorDefault;

          svg path {
            stroke: $colorDefault;
          }
        }
      }

      &:hover {
        filter: brightness(0.7);
      }
    }
  }
}
